openapi: 3.1.0
info:
  title: Azure Logic Apps Management WorkflowRuns WorkflowVersions API
  description: The Azure Logic Apps Management REST API exposes operations for managing workflows, runs, triggers, versions and integration accounts in the multitenant (Consumption) Logic Apps service. Operations are reached via the Azure Resource Manager endpoint and require an Azure AD bearer token along with subscription-scoped resource group and workflow path parameters.
  version: '2016-06-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/logic/
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azureAD: []
tags:
- name: WorkflowVersions
  description: Manage versions of workflow definitions.
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions
  : get:
      tags:
      - WorkflowVersions
      summary: List workflow versions
      operationId: listWorkflowVersions
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workflowName'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: A list of workflow versions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionListResult'
components:
  schemas:
    WorkflowVersionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowVersion'
        nextLink:
          type: string
    WorkflowVersion:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        properties:
          $ref: '#/components/schemas/WorkflowProperties'
    WorkflowProperties:
      type: object
      properties:
        provisioningState:
          type: string
        createdTime:
          type: string
          format: date-time
        changedTime:
          type: string
          format: date-time
        state:
          type: string
          enum:
          - NotSpecified
          - Completed
          - Enabled
          - Disabled
          - Deleted
          - Suspended
        version:
          type: string
        accessEndpoint:
          type: string
        definition:
          type: object
        parameters:
          type: object
  parameters:
    workflowName:
      name: workflowName
      in: path
      required: true
      description: The name of the workflow.
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription identifier.
      schema:
        type: string
    apiVersion:
      name: api-version
      in: query
      required: true
      description: The Azure REST API version.
      schema:
        type: string
        default: '2016-06-01'
    resourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The resource group containing the workflow.
      schema:
        type: string
  securitySchemes:
    azureAD:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/token
          scopes:
            user_impersonation: Access Azure Service Management API
