openapi: 3.1.0
info:
  title: Azure Logic Apps Management WorkflowRuns WorkflowTriggers API
  description: The Azure Logic Apps Management REST API exposes operations for managing workflows, runs, triggers, versions and integration accounts in the multitenant (Consumption) Logic Apps service. Operations are reached via the Azure Resource Manager endpoint and require an Azure AD bearer token along with subscription-scoped resource group and workflow path parameters.
  version: '2016-06-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/logic/
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azureAD: []
tags:
- name: WorkflowTriggers
  description: Manage workflow triggers and their histories.
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers
  : get:
      tags:
      - WorkflowTriggers
      summary: List workflow triggers
      operationId: listWorkflowTriggers
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workflowName'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: A list of workflow triggers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerListResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/run
  : post:
      tags:
      - WorkflowTriggers
      summary: Run a workflow trigger
      operationId: runWorkflowTrigger
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workflowName'
      - name: triggerName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Trigger executed.
        '202':
          description: Trigger accepted.
components:
  parameters:
    workflowName:
      name: workflowName
      in: path
      required: true
      description: The name of the workflow.
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription identifier.
      schema:
        type: string
    apiVersion:
      name: api-version
      in: query
      required: true
      description: The Azure REST API version.
      schema:
        type: string
        default: '2016-06-01'
    resourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The resource group containing the workflow.
      schema:
        type: string
  schemas:
    WorkflowTriggerListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowTrigger'
        nextLink:
          type: string
    WorkflowTrigger:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        properties:
          type: object
          properties:
            provisioningState:
              type: string
            state:
              type: string
            status:
              type: string
            lastExecutionTime:
              type: string
              format: date-time
            nextExecutionTime:
              type: string
              format: date-time
  securitySchemes:
    azureAD:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/token
          scopes:
            user_impersonation: Access Azure Service Management API
