openapi: 3.1.0
info:
  title: Azure Logic Apps Management WorkflowRuns API
  description: The Azure Logic Apps Management REST API exposes operations for managing workflows, runs, triggers, versions and integration accounts in the multitenant (Consumption) Logic Apps service. Operations are reached via the Azure Resource Manager endpoint and require an Azure AD bearer token along with subscription-scoped resource group and workflow path parameters.
  version: '2016-06-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/logic/
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azureAD: []
tags:
- name: WorkflowRuns
  description: Inspect and cancel workflow runs.
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs:
    get:
      tags:
      - WorkflowRuns
      summary: List workflow runs
      operationId: listWorkflowRuns
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workflowName'
      - $ref: '#/components/parameters/apiVersion'
      - name: $top
        in: query
        description: The maximum number of runs to return.
        schema:
          type: integer
      - name: $filter
        in: query
        description: OData filter expression for run status, time, etc.
        schema:
          type: string
      responses:
        '200':
          description: A list of workflow runs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}
  : get:
      tags:
      - WorkflowRuns
      summary: Get a workflow run
      operationId: getWorkflowRun
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workflowName'
      - $ref: '#/components/parameters/runName'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The requested workflow run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/cancel
  : post:
      tags:
      - WorkflowRuns
      summary: Cancel a workflow run
      operationId: cancelWorkflowRun
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/workflowName'
      - $ref: '#/components/parameters/runName'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Run cancelled.
components:
  parameters:
    runName:
      name: runName
      in: path
      required: true
      description: The workflow run identifier.
      schema:
        type: string
    workflowName:
      name: workflowName
      in: path
      required: true
      description: The name of the workflow.
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription identifier.
      schema:
        type: string
    apiVersion:
      name: api-version
      in: query
      required: true
      description: The Azure REST API version.
      schema:
        type: string
        default: '2016-06-01'
    resourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The resource group containing the workflow.
      schema:
        type: string
  schemas:
    WorkflowRun:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        properties:
          type: object
          properties:
            startTime:
              type: string
              format: date-time
            endTime:
              type: string
              format: date-time
            status:
              type: string
            code:
              type: string
            error:
              type: object
            correlationId:
              type: string
            workflow:
              type: object
            trigger:
              type: object
    WorkflowRunListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowRun'
        nextLink:
          type: string
  securitySchemes:
    azureAD:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/token
          scopes:
            user_impersonation: Access Azure Service Management API
