openapi: 3.1.0
info:
  title: Azure Logic Apps Management API
  description: >-
    The Azure Logic Apps Management REST API exposes operations for managing
    workflows, runs, triggers, versions and integration accounts in the
    multitenant (Consumption) Logic Apps service. Operations are reached via
    the Azure Resource Manager endpoint and require an Azure AD bearer token
    along with subscription-scoped resource group and workflow path parameters.
  version: '2016-06-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/logic/
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/
servers:
  - url: https://management.azure.com
    description: Azure Resource Manager
security:
  - azureAD: []
tags:
  - name: Workflows
    description: Manage Logic Apps workflows.
  - name: WorkflowRuns
    description: Inspect and cancel workflow runs.
  - name: WorkflowTriggers
    description: Manage workflow triggers and their histories.
  - name: WorkflowVersions
    description: Manage versions of workflow definitions.
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows:
    get:
      tags: [Workflows]
      summary: List workflows by subscription
      operationId: listWorkflowsBySubscription
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: A list of workflows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows:
    get:
      tags: [Workflows]
      summary: List workflows by resource group
      operationId: listWorkflowsByResourceGroup
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: A list of workflows in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}:
    get:
      tags: [Workflows]
      summary: Get a workflow
      operationId: getWorkflow
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The requested workflow.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
    put:
      tags: [Workflows]
      summary: Create or update a workflow
      operationId: createOrUpdateWorkflow
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - $ref: '#/components/parameters/apiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        '200':
          description: The updated workflow.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '201':
          description: The created workflow.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
    delete:
      tags: [Workflows]
      summary: Delete a workflow
      operationId: deleteWorkflow
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Workflow deleted.
        '204':
          description: Workflow deleted.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/disable:
    post:
      tags: [Workflows]
      summary: Disable a workflow
      operationId: disableWorkflow
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Workflow disabled.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/enable:
    post:
      tags: [Workflows]
      summary: Enable a workflow
      operationId: enableWorkflow
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Workflow enabled.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs:
    get:
      tags: [WorkflowRuns]
      summary: List workflow runs
      operationId: listWorkflowRuns
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - $ref: '#/components/parameters/apiVersion'
        - name: $top
          in: query
          description: The maximum number of runs to return.
          schema:
            type: integer
        - name: $filter
          in: query
          description: OData filter expression for run status, time, etc.
          schema:
            type: string
      responses:
        '200':
          description: A list of workflow runs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResult'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}:
    get:
      tags: [WorkflowRuns]
      summary: Get a workflow run
      operationId: getWorkflowRun
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - $ref: '#/components/parameters/runName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The requested workflow run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/cancel:
    post:
      tags: [WorkflowRuns]
      summary: Cancel a workflow run
      operationId: cancelWorkflowRun
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - $ref: '#/components/parameters/runName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Run cancelled.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers:
    get:
      tags: [WorkflowTriggers]
      summary: List workflow triggers
      operationId: listWorkflowTriggers
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: A list of workflow triggers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerListResult'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/run:
    post:
      tags: [WorkflowTriggers]
      summary: Run a workflow trigger
      operationId: runWorkflowTrigger
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - name: triggerName
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Trigger executed.
        '202':
          description: Trigger accepted.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions:
    get:
      tags: [WorkflowVersions]
      summary: List workflow versions
      operationId: listWorkflowVersions
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/workflowName'
        - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: A list of workflow versions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionListResult'
components:
  securitySchemes:
    azureAD:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/token
          scopes:
            user_impersonation: Access Azure Service Management API
  parameters:
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription identifier.
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The resource group containing the workflow.
      schema:
        type: string
    workflowName:
      name: workflowName
      in: path
      required: true
      description: The name of the workflow.
      schema:
        type: string
    runName:
      name: runName
      in: path
      required: true
      description: The workflow run identifier.
      schema:
        type: string
    apiVersion:
      name: api-version
      in: query
      required: true
      description: The Azure REST API version.
      schema:
        type: string
        default: '2016-06-01'
  schemas:
    Workflow:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        location:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/WorkflowProperties'
    WorkflowProperties:
      type: object
      properties:
        provisioningState:
          type: string
        createdTime:
          type: string
          format: date-time
        changedTime:
          type: string
          format: date-time
        state:
          type: string
          enum: [NotSpecified, Completed, Enabled, Disabled, Deleted, Suspended]
        version:
          type: string
        accessEndpoint:
          type: string
        definition:
          type: object
        parameters:
          type: object
    WorkflowListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Workflow'
        nextLink:
          type: string
    WorkflowRun:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        properties:
          type: object
          properties:
            startTime:
              type: string
              format: date-time
            endTime:
              type: string
              format: date-time
            status:
              type: string
            code:
              type: string
            error:
              type: object
            correlationId:
              type: string
            workflow:
              type: object
            trigger:
              type: object
    WorkflowRunListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowRun'
        nextLink:
          type: string
    WorkflowTrigger:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        properties:
          type: object
          properties:
            provisioningState:
              type: string
            state:
              type: string
            status:
              type: string
            lastExecutionTime:
              type: string
              format: date-time
            nextExecutionTime:
              type: string
              format: date-time
    WorkflowTriggerListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowTrigger'
        nextLink:
          type: string
    WorkflowVersion:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        properties:
          $ref: '#/components/schemas/WorkflowProperties'
    WorkflowVersionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowVersion'
        nextLink:
          type: string
